:root {
    --pad: max(20px, 4vmin);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro-page {
    background-color: black;
    animation: fade-out 7s ease-out;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-align: center;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    font-size: 300%;
}

#intro-text {
    font-size: 80%;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

#italic-intro {
    font-size: 105%;
    color: #fff;
    font-family: 'Alegreya Sans SC', sans-serif;
}

/* #canvas {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1;
    opacity: 1;
    background-color: hsl(0, 0%, 5%);
} */

#page {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: hwb(0 5% 95%);
}

#frame {
    animation: fade-in 3s linear;
    height: 92vh;
    width: 95%;
    border-width: .001em;
    border-color: white;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    margin: 2px;
    position: fixed;
    left: var(--pad);
    right: var(--pad);
    top: var(--pad);
    bottom: var(--pad);
}

#header {
    animation: fade-in 3s linear;
    position: fixed;
    z-index: 900;
    left: calc(var(--pad)*2);
    top: calc(var(--pad)*2);
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

#header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 300%;
}

#header p {
    font-style: italic;
}

.nav {
    margin-top: 50px;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
}

#navbar-item {
    list-style-type: none;
}

#navbar-item a {
    color: inherit;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 85%;
}

.content {
    z-index: 200;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.inner-content {
    position: relative;
    min-height: 100%;
}

.page {
    display: block;
    width: 100%;
    min-height: 100%;
}

.home {
    position: absolute;
    right: calc(var(--pad)*2);
    bottom: calc(var(--pad)*1.5);
    white-space: nowrap;
}

.homeButton {
    animation: fade-in 1s linear;
}

.projectsButton {
    animation: fade-in 1s linear;
}

.infoButton {
    animation: fade-in 1s linear;
}

#homeDot::before {
    animation: fade-in .5s linear;
    font-size: 300%;
    content: "\2022";
}

#projectsDot::before {
    animation: fade-in .5s linear;
    font-size: 300%;
    content: "\2022";
}

#infoDot::before {
    animation: fade-in .5s linear;
    font-size: 300%;
    content: "\2022";
}

#navbar-item a:hover {
    opacity: 30%;
    color: white;
    transition: 0.4s;
}

.about-me {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    color: white;
    font-size: 90%;
    padding-right: 20px;
}

.home {
    animation: fade-in 3s linear;
}

.motto {
    font-family: 'Cinzel', serif;
    font-size: 90%;
    font-style: italic;
    color: #ddaefd;
}

.projects {
    animation: fade-in 3s linear;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: calc(var(--pad)*3);
    bottom: calc(var(--pad)*2);
}

.project-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: baseline;
    column-gap: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.project-item:hover {
    transition: 0.4s;
    opacity: 30%;
    color: #fff;
}

.project-title {
    font-size: 300%;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.project-info {
    font-family: 'Lato', sans-serif;
}

.info {
    animation: fade-in 3s linear;
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: calc(var(--pad)*3);
    bottom: calc(var(--pad)*2);
    padding-right: 10px;
}

.info-item {
    color: white;
    text-decoration: none;
    font-size: 200%;
    font-family: 'Raleway', sans-serif;
}

.info-item:hover {
    transition: 0.4s;
    opacity: 30%;
    color: #fff;
}

.hide {
    display: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 1;
    }

    20% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 1200px) {
    .project-title {
        font-size: 200%;
    }
}

@media screen and (max-width: 768px) {
    .project-title {
        font-size: 120%;
    }
}

@media screen and (max-width: 768px) {
    .about-me {
        font-size: 70%;
    }
}

@media screen and (max-width: 768px) {
    #intro-text {
        font-size: 50%;
    }
}

@media screen and (max-width: 500px) {
    .project-title {
        font-size: 85%;
    }
}

@media screen and (max-width: 500px) {
    .project-info {
        font-size: 50%;
    }
}

@media screen and (max-width: 500px) {
    .projects {
        line-height: 2;
        bottom: calc(var(--pad)*3);
    }
}

@media screen and (max-width: 500px) {
    #frame {
        height: 85vh;
        width: 89%;
    }
}

@media screen and (max-width: 500px) {
    #navbar-item {
        font-size: 150%;
    }
}

@media screen and (max-width: 350px) {
    #frame {
        width: 87%;
    }
}

@media screen and (max-width: 450px) {
    #header {
        font-size: 80%;
    }
}

@media screen and (max-width: 450px) {
    #header {
        font-size: 65%;
    }
}

@media screen and (max-width: 425px) {
    .info-item {
        font-size: 125%;
    }
}

@media screen and (max-width: 425px) {
    #intro-text {
        font-size: 35%;
    }
}

@media screen and (max-width: 425px) {
    .about-me {
        font-size: 70%;
    }
}

@media screen and (max-width: 425px) {
    .project-title {
        font-size: 90%;
    }
}

@media screen and (max-width: 425px) {
    #navbar-item {
        font-size: 130%;
    }
}

@media screen and (max-width: 374px) {
    .projects {
        right: calc(var(--pad)*1);
    }
}

@media screen and (max-width: 374px) {
    .project-title {
        font-size: 65%;
    }
}